<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.project1.MemberMapper">

<select id="getCountRows" resultType="int">
  SELECT COUNT(*) FROM Member
</select>

<select id="getListPage" resultType="org.zerock.domain.project1.MemberVO">
    SELECT 
        m.id, 
		m.password,  
		m.email, 
		m.address, 
		m.inserted, 
		m.nickName, 
		m.adminQuali,
		count(b.id) numberOfBoard 
	FROM 
		Member m
    LEFT JOIN
      Board b ON m.id =b.writer
  GROUP BY m.id DESC
  ORDER BY m.id DESC
  LIMIT #{from}, #{items}
</select>

<select id="list" resultType="org.zerock.domain.project1.MemberVO">
	<!-- SELECT
		id,
		password,
		email,
		address,
		inserted,
		nickName
	FROM
		Member
	ORDER BY
		inserted DESC -->
	SELECT 
		m.id, 
		m.password,  
		m.email, 
		m.address, 
		m.inserted, 
		m.nickName, 
		m.adminQuali,
		count(b.id) numberOfBoard 
	FROM 
		Member m
	left JOIN
		Board b 
	ON m.id=b.writer
	GROUP BY m.id


</select>

<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO
		Member (id, password, email, address, nickName) 
	VALUES (#{id}, #{password}, #{email}, #{address}, #{nickname})
</insert>

<update id="update">
	UPDATE 
		Member
	SET
		password=#{password},
		email=#{email},
		address=#{address},
		nickname=#{nickname}
	WHERE
		id = #{id}
</update>

<delete id="delete">
	DELETE FROM Member WHERE id = #{id}
</delete>

<select id="select" resultType="org.zerock.domain.project1.MemberVO">
	SELECT id, password, email, address, inserted, nickName, adminQuali
	FROM Member
	WHERE id = #{id}
</select>

<select id="selectByNickname" resultType="org.zerock.domain.project1.MemberVO">
  SELECT id, password, email, address, inserted, nickName, adminQuali
  FROM Member
  WHERE nickName = #{nickname}
</select>

</mapper>








